@import '../../bootstrap-variables';

.dropdown .dropdown-item {
  height: 44px;
  padding: 0;
  margin: 10px 0px;
  border-radius: 7px;
  padding-left: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--gray-darker);

  .select-icon-container {
    padding-right: 15px;
  }

  .material-icons.dropdown-icon {
    color: var(--color-icon);
    font-size: 28px;
    padding-left: 0;
    display: inline;
    position: initial;
  }
}

.dropdown-item.dropdown-item-selected {
  background-color: var(--dropdown-selected-color) !important;
}

.dropdown-item.has-icon-left {
  padding-left: 8px;
}

.dropdown-item.has-icon-right {
  padding-right: 8px;
}

.dropdown-item.has-split-top {
  border-top: 1px var(--gray-lighter) solid;
}

:-moz-focusring {
  outline: unset;
}

.dropdown-item-container {
  .button-container {
    padding-right: 16px;
  }

  button {
    flex-grow: 1;
    .button-content {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  button:active,
  button:focus {
    background-color: var(--dropdown-hover-color) !important;
    outline: none !important;
  }

  button:hover {
    background-color: var(--dropdown-hover-color) !important;
    color: var(--gray-darker) !important;

    .material-icons.dropdown-icon {
      color: var(--color-icon) !important;
    }
  }
}
