/* ==========================================================================
Navbar styles
========================================================================== */

.brand-logo {
  &:hover {
    text-decoration: none;
  }
  .brand-icon {
    height: 35px;
    width: auto;
    display: inline-block;
    img {
      height: 45px;
      width: 150px;
    }
  }
}

.brand-title {
  font-size: 24px;
  color: var(--header);
  &:hover {
    color: var(--header-hover);
    text-decoration: none;
  }
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}

.info-header-btn {
  margin-left: 325px;
  flex: 1;
  width: 100%;
}
