@import '../../bootstrap-variables';

.dropdown-search-bar {
  &.global {
    box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);
    border-radius: 7px;

    .dropdown-search--search-icon {
      top: 50%;
      transform: translate(0, -50%);
      font-size: 35px;
      left: 25px;
    }

    & > .opener-icon {
      right: 22px;
      svg {
        font-size: 45px;
      }
    }

    .dropdown-search--main-search.form-control {
      padding: 19px 20px 19px 70px;
      border: none;
      background-color: white;
      height: 70px;

      &::placeholder {
        color: #001c44;
      }
    }

    .popover.show {
      box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);
    }

    .popover-body {
      padding: 32px 0px 16px 0px;
    }
  }
  .dropdown-search--search-icon {
    @include iconColor();
    position: absolute;
    top: 10px;
    left: 12px;
  }
  .dropdown-search--main-search {
    padding-left: 36px;
  }

  &.expandable-container .popover-body {
    padding: 0px 0px 0px 0px;
  }
}
