.upload-file {
  position: relative;

  .required-check {
    top: -5px;
    color: var(--empty-field);

    &.with-label {
      top: 25px;
    }
  }

  .invalid-feedback {
    display: block;
    margin-top: -12px;
  }

  .filepond--root {
    border: var(--gray-darker) 1px solid;
    border-radius: 7px;

    &:hover {
      border-color: var(--primary-active-darker);
    }

    .filepond--drop-label {
      min-height: -webkit-fill-available;
      right: auto;
      left: 10px;
      label {
        color: var(--input-disabled-text);
      }
    }

    .filepond--browser {
      height: 100%;
    }

    .filepond--panel-root {
      background: transparent;
    }

    &.filepond--root {
      height: 49px !important;
      background-image: url('../../../static/images/add.svg');
      background-position: right 20px center;
      background-repeat: no-repeat;
    }
    .filepond--action-remove-item {
      background-image: url('../../../static/images/add.svg');
      background-repeat: no-repeat;
      background-color: white;
      -webkit-transform: rotate(45deg) !important;
      -moz-transform: rotate(45deg) !important;
      -ms-transform: rotate(45deg) !important;
      -o-transform: rotate(45deg) !important;
      transform: rotate(45deg) !important;
      right: 13px;
      left: auto;
      top: 13px;
      position: absolute;

      svg {
        display: none;
      }
    }

    .filepond--list-scroller {
      overflow-y: hidden;
      margin-top: 1px;
      margin-bottom: 0px;
      -webkit-mask: linear-gradient(180deg, #000 calc(100% - 0.1em), transparent);
      mask: linear-gradient(180deg, #000 calc(100% - 0.1em), transparent);

      .filepond--item-panel {
        background: transparent;
        box-shadow: none;
      }
      .filepond--file {
        background-color: transparent;
        .filepond--file-info {
          transform: none !important;
          color: var(--primary);
          .filepond--file-info-sub {
            display: none;
          }
          .filepond--file-info-main {
            margin-top: 5px;
          }
        }
      }
    }
  }

  &.empty {
    .filepond--root:not(:hover) {
      border-color: var(--empty-field);
    }
  }

  &.large {
    .filepond--browser {
      height: 100%;
    }

    .filepond--action-remove-item {
      right: 0px;
    }

    .filepond--root {
      border: none;
      border-radius: 7px;
      background-color: #ffffff;
      box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);
      height: 70px !important;
    }

    &:not(.empty) {
      .filepond--list-scroller {
        height: 70px;
      }
      .filepond--item {
        margin-top: 15px;
      }
    }
  }
}
