.sidemenu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  cursor: pointer;
  opacity: 0.3;

  &:hover,
  a:hover {
    color: var(--primary);
    opacity: 1;
  }

  .sidemenu-item-icon {
    margin: 0;
  }

  p {
    vertical-align: center;
  }

  a {
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: left;
    color: unset;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  color: white;

  outline: none;
}

.sidemenu-item.sidemenu-item-selected {
  border-left: var(--menu-close-color) solid 4px;
  background-color: var(--menu-border-opaque-25);
  border-top: var(--menu-border-opaque-8) solid 1px;
  border-bottom: var(--menu-border-opaque-8) solid 1px;
  left: -4px;
  position: relative;
  opacity: 1;
  width: calc(100% + 4px);
}
.side-menu-container:not(.side-menu-container-mini) {
  .sidemenu-item.sidemenu-item-selected {
    width: 250px;
  }
}

.sidemenu-item-with-text {
  align-items: center;
  justify-content: left;
  a {
    .sidemenu-item-icon {
      margin-left: 30px;
      margin-right: 20px;
    }
    span {
      white-space: nowrap;
    }
  }
}
