@import '../../bootstrap-variables';

.simple-menu {
  padding: 0px;
  margin: 0px;

  .simple-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    min-height: 42px;
    color: var(--menu-item-color);

    &:hover {
      @include hoverStyle();
    }
  }

  .simple-menu-item-label {
    color: var(--primary);
    margin-left: $margin-base;
    white-space: nowrap;
  }
}
