@import '../../bootstrap-variables';

.tag-input {
  .tags-container {
    cursor: pointer;
  }

  .tags-container.selected-tags {
    position: relative;
    top: -32px;

    .select-icon-container {
      position: relative;
      top: 2px;
    }
  }

  .popover {
    width: 100%;
    max-width: none;
    box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);
    margin-top: 15px !important;
    border-radius: 7px;
    border: none;
  }
}
.empty-popover {
  .popover {
    opacity: 0;
  }
  input.form-control {
    background-image: url('../../../static/images/add.svg');
    background-position: right 20px center;
    background-repeat: no-repeat;
  }
  .opener-icon {
    color: transparent;
  }
}

.empty-selected.tag-input {
  .form-control:not(:hover):not(:disabled) {
    border-color: var(--empty-field);
  }
}
