@import 'node_modules/bootstrap/scss/functions';
// Simplex 4.1.3
// Bootswatch

// colors from InVision
$main-color: #001c44;
$main-color-opacity: rgba(0, 28, 68, 0.5);
$secondary-color: #289fcf;
$tertiary-color: #93b1d6;
$supplementary-1-color: #556b8e;
$supplementary-2-color: #89bfe3;
$supplementary-3-color: #9cd1e3;
$supplementary-4-color: #6eabb9;
$supplementary-5-color: #95c2b3;
$supplementary-6-color: #58a895;
$supplementary-7-color: #b0b2c3;
$supplementary-8-color: #ac80a5;
$supplementary-9-color: #7d8993;

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ddd !default;
$gray-300: #ccc !default;
$gray-400: #bbb !default;
$gray-500: #adb5bd !default;
$gray-600: #777 !default;
$gray-700: #444 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #1991eb !default;
$indigo: #6610f2 !default;
$purple: #9b479f !default;
$pink: #e83e8c !default;
$red: #d22b32 !default;
$orange: #d9831f !default;
$yellow: #ffc107 !default;
$green: #4ab55b !default;
$teal: #20c997 !default;
$cyan: #1991eb !default;
$gray-darker: $main-color;
$gray-lighter: #eff0f3;
$gray-darker-opacity: rgba(0, 28, 68, 0.5);

$primary: $main-color !default;
$primary-lighter: $tertiary-color;
$primary-active: $main-color-opacity;
$primary-active-lighter: darken($main-color, 5%);
$primary-active-darker: #0097e3;

$success: #57a75b !default;
$info: $secondary-color !default;
$warning: #e1861c !default;
$danger: #a52222 !default;
$light: $white !default;
$dark: #333f52 !default;
$dark-darker: darken($dark, 10%) !default;
$dark-lighter: lighten($dark, 10%) !default;

$alert-success: #ddedde;
$alert-danger: #edd3d3;
$alert-warning: #f9e7d2;
$alert-info: #d4ecf5;

$tertiary: #50e537;
$tertiary-darker: #25a20f;
$tertiary-active: darken($tertiary, 5%);
$tertiary-active-darker: darken($tertiary-darker, 5%);
$disable-darker: #b0b2c3;
$color-icon: $primary-lighter;

$black-text: rgb(6, 6, 7);
$white-text: #ffffff;

$scroll-background-color: #e3e6ec;
$scroll-color: #b1b4c1;
$empty-field: #7f8da1;

// Body

$body-bg: #fcfcfc !default;

// Custom icons to be used in css data urls
$chevron-icon-left: url('data:image/svg+xml; utf8, <svg style="transform:rotate(90deg)" xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 0 0-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z" fill="rgb(147, 177, 214)"></path></svg>');
$chevron-icon-right: url('data:image/svg+xml; utf8, <svg style="transform:rotate(270deg)" xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path d="M15.88 9.29L12 13.17 8.12 9.29a.9959.9959 0 0 0-1.41 0c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z" fill="rgb(147, 177, 214)"></path></svg>');

// Fonts

$font-family-sans-serif: 'Source Sans Pro', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-size-base: 1.125rem !default;
$font-size-small: 0.875rem !default;
$font-size-bigger: 2rem !default;

$breadcrumb-font-size: $font-size-base;
$breadcrumb-bg: transparent;
$breadcrumb-divider: $chevron-icon-right;
$breadcrumb-active-color: $primary;
$breadcrumb-item-padding: 0.75rem !default;

// Dropdowns

$dropdown-selected-color: #e9eff7;
$dropdown-hover-color: #e5ebf0;

// Navs

$nav-link-padding-y: 0.9rem !default;
$nav-link-disabled-color: $gray-400 !default;

$nav-tabs-border-color: darken(#fff, 6.5%) !default;

// Navbar

$navbar-dark-color: rgba($white, 0.75) !default;
$navbar-dark-hover-color: $white !default;

// Pagination

$pagination-border-color: $nav-tabs-border-color !default;

$pagination-hover-color: $white !default;
$pagination-hover-bg: $primary !default;
$pagination-hover-border-color: $primary !default;

$pagination-disabled-color: $gray-400 !default;
$pagination-disabled-border-color: $pagination-border-color !default;

// Jumbotron

$jumbotron-bg: $nav-tabs-border-color !default;

// Cards

$card-border-color: $nav-tabs-border-color !default;

// Popovers

$popover-border-color: $nav-tabs-border-color !default;

// Modals

$modal-content-border-color: $nav-tabs-border-color !default;

$modal-header-border-color: $nav-tabs-border-color !default;

// Progress bars

$progress-bar-color: $primary-lighter !default;

// List group

$list-group-border-color: $nav-tabs-border-color !default;

$list-group-disabled-bg: $nav-tabs-border-color !default;

// Breadcrumbs

$breadcrumb-bg: $white !default;

$body-bg: #e4e5e6;

$rt-color-warning: $warning;
$rt-color-error: $danger;
$rt-color-success: $success;

$enable-shadows: false;

$header: #fff;
$header-hover: darken($header, 20%);
$header-secondary: darken($header, 10%);

$selection-color-background: #dfe1e5;
$selection-color-checked: #57a75b;
$selection-color-checked-darker: #ddedde;

$menu-background-color-from: #ffffff;
$menu-background-color-to: #ffffff;
$menu-item-color: #848c98;
$menu-item-icon-color: $color-icon;
$menu-border: transparentize($gray-lighter, 0.875);
$menu-border-opaque: transparentize($gray-lighter, 1);
$menu-border-opaque-25: transparentize($gray-lighter, 0.75);
$menu-border-opaque-8: transparentize($gray-lighter, 1);
$menu-list-item-selected-color: $black-text;
$menu-close-color: $gray-lighter;

$progression-color: $gray-darker;
$progression-border-color: #e6eaee;
$progression-current: #011b5c;
$progression-shadow: #373a3c14;

$tags-color-1: $supplementary-1-color;
$tags-color-2: $supplementary-2-color;
$tags-color-3: $supplementary-3-color;
$tags-color-4: $supplementary-4-color;
$tags-color-5: $supplementary-5-color;
$tags-color-6: $supplementary-6-color;
$tags-color-7: $supplementary-7-color;
$tags-color-8: $supplementary-8-color;

$main-color-light: #ccd2da;
$input-disabled-color: rgba(0, 28, 68, 0.2);
$input-disabled-text: rgba(0, 28, 68, 0.4);
$side-menu-width-mini: 75px;

@function update-theme-colors($added-vals: ()) {
  $theme-colors: (
    main-color: $main-color,
    main-color-light: $main-color-light,
    success: $success,
    error: $danger,
    warning: $warning,
    primary: $primary,
    primary-lighter: $primary-lighter,
    primary-active: $primary-active,
    primary-active-lighter: $primary-active-lighter,
    primary-active-darker: $primary-active-darker,
    empty-field: $empty-field,
    tertiary: $tertiary,
    tertiary-darker: $tertiary-darker,
    tertiary-active: $tertiary-active,
    tertiary-active-darker: $tertiary-active-darker,
    dark: $dark,
    dark-darker: $dark-darker,
    dark-lighter: $dark-lighter,
    disable-darker: $disable-darker,
    black-text: $black-text,
    white-text: $white-text,
    scroll-background-color: $scroll-background-color,
    scroll-color: $scroll-color,
    color-icon: $color-icon,
    input-disabled-color: $input-disabled-color,
    input-disabled-text: $input-disabled-text,
    gray-darker: $gray-darker,
    gray-darker-opacity: $gray-darker-opacity,
    gray-lighter: $gray-lighter,
    alert-success: $alert-success,
    alert-danger: $alert-danger,
    alert-warning: $alert-warning,
    alert-info: $alert-info,
    header: $header,
    header-hover: $header-hover,
    header-secondary: $header-secondary,
    pagination-border-color: $pagination-border-color,
    progression-color: $progression-color,
    progression-border-color: $progression-border-color,
    progression-current: $progression-current,
    progression-shadow: $progression-shadow,
    progress-bar-color: $progress-bar-color,
    selection-color-background: $selection-color-background,
    selection-color-checked: $selection-color-checked,
    selection-color-checked-darker: $selection-color-checked-darker,
    menu-background-color-from: $menu-background-color-from,
    menu-background-color-to: $menu-background-color-to,
    menu-item-color: $menu-item-color,
    menu-item-icon-color: $menu-item-icon-color,
    menu-border: $menu-border,
    menu-border-opaque: $menu-border-opaque,
    menu-border-opaque-25: $menu-border-opaque-25,
    menu-border-opaque-8: $menu-border-opaque-8,
    menu-list-item-selected-color: $menu-list-item-selected-color,
    menu-close-color: $menu-close-color,
    tags-color-1: $tags-color-1,
    tags-color-2: $tags-color-2,
    tags-color-3: $tags-color-3,
    tags-color-4: $tags-color-4,
    tags-color-5: $tags-color-5,
    tags-color-6: $tags-color-6,
    tags-color-7: $tags-color-7,
    tags-color-8: $tags-color-8,
    dropdown-selected-color: $dropdown-selected-color,
    dropdown-hover-color: $dropdown-hover-color
  );
  $theme-colors: map_merge($theme-colors, $added-vals);
  @return $theme-colors;
}
:root {
  --color-picker-menu-left: 0;
}
$theme-colors: update-theme-colors();
$menu-item-hover-color: var(--primary);
$menu-item-text-hover-color: var(--white-text);
@mixin iconColor() {
  color: var(--menu-item-icon-color);
}
@mixin focusStyle() {
  border-color: var(--gray-darker);
  box-shadow: none;
}
@mixin hoverStyle() {
  border-color: var(--primary-active-darker);
  // background: none;
}
// Sizes
$base: 0.25rem;
$padding-base: 2 * $base;
$margin-base: 2 * $base;
$border-radius: $base;
@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding: $top * $padding-base $right * $padding-base $bottom * $padding-base $left * $padding-base;
}
$side-menu-width: 250px;
$view-container-padding: 75px;
$navbar-height: 75px;
$action-banner-height: 100px;
$popover-arrow-size: 0.8rem;
