@import '../../bootstrap-variables';

footer {
  height: 150px;
  font-size: $font-size-small;

  .gap {
    height: 75px;
  }

  hr {
    padding: 0;
    margin: 0;
    border-top: 1px solid $supplementary-1-color;
  }

  .text {
    height: 74px;
    color: $supplementary-1-color;
    font-style: oblique;
  }

  .version {
    color: $primary;
    font-weight: 800;
  }
}
