@import '../../_bootstrap-variables';

.progress {
  .progress-bar {
    border-radius: 30px;

    &.bg-primary {
      background-color: var(--progress-bar-color) !important;
    }
  }
}

.progress-header {
  display: flex;
  align-items: center;

  .progress-bar-text {
    flex-grow: 1;
    color: var(--gray-darker);
    font-size: 18px;
  }

  .progress-value {
    color: var(--gray-darker);
    font-size: 12px;
    opacity: 50%;
  }
  margin-bottom: $margin-base;
}

.progress-container {
  .progress {
    height: 20px;
    border-radius: 20px;
    background-color: var(--dropdown-selected-color);
  }
}
