@import '../../_bootstrap-variables';

.react-calendar {
  font-family: 'Source Sans Pro';
  line-height: 0.77em;
  width: 458px;
  .react-calendar__tile {
    &.react-calendar__month-view__days__day,
    &.react-calendar__year-view__months__month,
    &.react-calendar__decade-view__years__year,
    &.react-calendar__century-view__decades__decade {
      color: var(--primary);

      &.react-calendar__month-view__days__day--neighboringMonth {
        opacity: 0.3;
      }
    }
  }
}

.calendar-input {
  .form-control[readonly] {
    background-color: transparent;
  }

  &:not(.empty):not(.disabled) {
    .form-control {
      border: var(--gray-darker) solid 1px;
    }
  }

  .opener-icon {
    top: 45%;
  }

  .required-check {
    top: -5px;
  }

  &.empty:not(.disabled) {
    .form-control {
      border-color: var(--empty-field);
    }
    .required-check {
      color: var(--empty-field);
    }
  }

  &:hover:not(.disabled) {
    .form-control {
      border-color: var(--primary-active-darker);
    }
    .required-check {
      color: var(--primary-active-darker);
    }
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: url('../../../static/images/calendar-hover.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background: none;
    border: none;
    outline: none;
  }

  .react-calendar__tile--active,
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: url('../../../static/images/calendar-selected.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    color: inherit;
    outline: unset;
    font-weight: 800;
    .required-check {
      color: var(--color-icon);
    }
  }

  &.disabled {
    .required-check {
      color: var(--disable-darker);
    }
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    border-radius: 25px;
    outline: unset;
  }

  .popover {
    box-shadow: 1px 1px 50px 10px rgba(0, 37, 80, 0.2);
    border-radius: 7px;
    width: auto !important;
    max-width: fit-content;

    .container-fluid {
      padding-right: 0px;
      padding-left: 0px;

      .react-calendar {
        border: none;

        .react-calendar__navigation {
          border-bottom: 1px solid var(--primary-lighter);
          font-size: 18px;
          line-height: 23px;

          .react-calendar__navigation__arrow {
            color: var(--color-icon);
            font-size: 25px;
          }

          .react-calendar__navigation__label {
            color: var(--gray-darker);
          }
        }
        .react-calendar__viewContainer {
          padding: 10px;
          font-family: 'Source Sans Pro';
          font-size: 15px;
          color: var(--gray-darker);

          .react-calendar__month-view__weekdays {
            font-size: inherit;
            font-weight: inherit;

            .react-calendar__month-view__weekdays__weekday {
              padding: 0px;
              padding-bottom: 0.5em;
            }

            abbr[title] {
              text-decoration: none;
              text-transform: none;
            }
          }
        }
      }
    }
  }
}
