@import '../../bootstrap-variables';

.progression {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: left;
}

.progression.vertical {
  flex-direction: column;
  .progression-line-top,
  .progression-line-bottom {
    position: absolute;
    height: 25px;
    width: 1px;
    left: 17px;
    background-color: var(--gray-darker);
  }
  .progression-line-top {
    top: 0px;
  }
  .progression-line-bottom {
    bottom: 0px;
  }
  .progression-item:first-child {
    .progression-line-top {
      display: none;
    }
  }
  .progression-item:last-child {
    .progression-line-bottom {
      display: none;
    }
  }
}

.progression-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  font-style: italic;
  color: var(--progression-color);
  justify-content: left;
  align-items: center;
  flex: 1;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 25px 0px;
  position: relative;

  &.disabled {
    .progression-text,
    .counter {
      opacity: 0.3;
    }
  }

  .counter {
    min-width: 35px;
    min-height: 35px;
    border-radius: 18px;
    border: 2px solid var(--color-icon);
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.progression-item.done {
  font-style: normal;
  .counter {
    background-color: var(--gray-darker);
    border-color: var(--gray-darker);
    color: white;
    font-size: 14px;
  }
}

.progression-item.current {
  font-weight: 800;
  font-style: normal;
  .counter {
    background-color: var(--color-icon);
    font-weight: 800;
    box-shadow: 0 0 0 1px var(--progression-current-shadow) inset;
    border: 1px;
  }
}

.progression-item .counter svg {
  font-size: 18px;
}
